@{
    ViewBag.Title = "Dane kontaktowe";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ul. Karłowa 40<br />
    99-709, Królewska Przystań<br />
    <abbr title="Telefon">T:</abbr>
    555-666-777
</address>

<img src="~/Images/kingslading.png" />
<br />
<br />

<address>
    <strong>Wsparcie:</strong> <a href="mailto:Tyrion@Support.com">Tyrion@Support.com</a><br />
</address>